* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
body {
  padding-bottom: 1000px;
}
header {
  background-image: url(../image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-page ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  margin-left: 250px;
}
.header-page li {
  padding: 0 10px;
  margin-top: 25px;
}
.header-page a {
  text-decoration: none;
  color: #202020;
}
.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
}
.header-2 {
  display: flex;
  justify-content: space-between;
}
.header-img {
  margin-top: 20px;
  margin-bottom: 7px;
}
.header-page p {
  font-size: 13px;
  color: #7d808a;
}
.header-info h1 {
  font-size: 57px;
  line-height: 107%;
  font-weight: 700;
  color: #000000;
  margin-top: 107px;
  margin-bottom: 40px;
}
.header-info p {
  line-height: 140%;
  font-size: 24px;
  color: #646464;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn {
  background: linear-gradient(180deg, #9bcfff 0%, #fff383 0.01%, #ffc700 100%);
  box-shadow: 0px 4px 0px #c89c00;
  border: 1px solid rgb(240, 240, 22);
  border-radius: 5px;
  padding: 15px 55px;
  color: #6a5300;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background: #fff;
  box-shadow: 0px 4px 0px #8a6e08;
  border: 1px solid rgb(240, 240, 22);
  border-radius: 5px;
  padding: 15px 55px;
  color: rgb(88, 88, 5);
  font-size: 15px;
}
/* klub */
.klub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
}
.klub-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.klub-number-text {
  margin: 0 7px;
}
.klub-number-text span {
  font-size: 42px;
  line-height: 160%;
  color: #008139;
}
.klub-number-text p {
  font-size: 17px;
  line-height: 25px;
  color: #0b0b0b;
}
.klub-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #7e7e7e;
}
.klub-img {
  width: 800px;
  height: 500px;
  left: -100;
}
.klub-header-text {
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: #363434;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* search */
.search h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  color: #363434;
  padding-top: 185px;
  padding-bottom: 25px;
}
.search {
  text-align: center;
}
.search span {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #363434;
}
.search-boxs {
  padding-top: 65spx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 29px;
}
.search-box h3 {
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
  color: #0b0b0b;
  padding-top: 14px;
  padding-bottom: 26px;
}
.search-box p {
  font-weight: 400;
  font-size: 15px;
  line-height: 151.7%;
  color: #7e7e7e;
  padding-bottom: 100px;
}

/* About */
.about-bg {
  background-image: url(../image/about-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about {
  padding-top: 100px;
  text-align: center;
}
.about h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  color: #363434;
  padding-bottom: 25px;
}
.about-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about span {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #363434;
  margin-bottom: 75px;
}
.about-image {
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  max-width: 370px;
  margin-bottom: 30px;
}
.about-image-image img {
  width: 320px;
  height: 220px;
}
.about-image h3 {
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  color: #363434;
  padding-top: 45px;
  padding-bottom: 50px;
}
.about-image p {
  width: 280px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #7e7e7e;
}
/* img  */
.img {
  min-height: 900px;
  width: 100%;
}
.img img {
  width: 100%;
}
.img__title {
  text-align: center;
  padding: 152px 0 70px 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  color: #363434;
}
/* type */
.type__title {
  text-align: center;
  padding: 152px 0 70px 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  color: #363434;
}
.type__boxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
  text-align: center;
}
.type__box img {
  width: 320px;
  height: 420px;
  margin-bottom: 25px;
}
.type__box {
  background-color: rgb(240, 235, 235);
  gap: 20px;
  border-radius: 20px;
}
.type__box h3 {
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  color: #363434;
}
.type__box p {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  padding-top: 15px;
  padding-bottom: 35px;
  color: #7e7e7e;
}

/* ask */
.ask-page {
  background-image: url(../image/ask-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  height: 569px;
  text-align: center;
}

.ask__right {
  background-color: #fff;
  width: 470px;
}
.ask__right h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  color: #363434;
  padding-top: 60px;
  padding-bottom: 15px;
}
.ask__right p {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #7e7e7e;
  padding-bottom: 30px;
}
.ask__right input {
  padding: 20px;
  margin: 20px auto;
  padding-right: 170px;
}
.ask__right button {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.ask_span {
  padding-bottom: 37px;
}

/* testimonial */
.testimonial-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-person {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.testimonial h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  padding-top: 140px;
  padding-bottom: 70px;
}
.testimonial-main-page {
  margin: 0 20px;
  background-color: #f1f1f1;
}
.testimonial-main-page p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #363434;
  padding-bottom: 20px;
}
.testimonial-main-page ul {
  text-align: center;
  padding-bottom: 40px;
}
.testimonial-main-page ul li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #008139;
  border: 1px solid #fff;
  padding: 7px 41px;
  background-color: #fff;
}
.testimonial-person {
  padding: 0 280px 35px 45px;
}
.testimonial-text {
  margin-left: 15px;
}
.testimonial-text h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #101820;
  margin-bottom: 10px;
}
.testimonial-text img {
  padding-right: 10px;
}
/* contact */
.contact-page {
  background-image: url(../image/contact.bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
.contact-image {
  position: relative;
}
.contact-image1 {
  position: absolute;
  left: 1130px;
  bottom: -342px;
}

.contact-image2 {
  position: absolute;
  right: -300px;
  bottom: -348px;
}
.contact-left {
  background-color: #fff;
  padding-top: 50px;
  padding-left: 70px;
  padding-bottom: 70px;
  margin-top: 70px;
  width: 521px;
  margin-bottom: 70px;
}
.contact-left h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 30px;
}
.contact-left > p {
  color: #008139;
  padding-bottom: 40px;
}
.contact-logo {
  display: flex;
  align-items: center;
  padding-bottom: 26px;
  gap: 20px;
}
.contact-img {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 13px;
  margin-right: 72px;
}
.contact-text p {
  display: block;
  gap: 7px;
  padding-top: 10px;
}
.contact-text {
  margin-top: 20px;
  box-sizing: border-box;
}
.contact-right {
  padding-right: 130px;
  padding-top: 70px;
}
/* footer */
footer {
  background: #0b0b0b;
}
.foooter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.foooter-header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  margin-left: 300px;
}
.foooter-header ul li a {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: right;
  color: #eaeaea;
}
.foooter-header ul li a:hover {
  color: rgb(200, 196, 196);
}
.foooter-header button {
  padding: 10px 41px;
  background-color: #000000;
  color: #fff;
  border: 1px solid #fde724;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.9s;
}
.foooter-header button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #333;
}
.footer-text {
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: 20px;
}
.text-text {
  padding-left: 40px;
}
.footer-text p a {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #7d808a;
}
